.footer {
  border-top: 1px solid lightgray;
  padding-top: 4rem;
  text-align: center;
  padding: 20px;
  background-color: #443a7e;
  color: #fa9579;
}
.footer-subtitle {
  font-family: "Sniglet", cursive !important;
  margin-bottom: 15px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link i {
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #ffabe1;
}
