ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.hero {
  height: 90vh;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  text-align: left;
  color: #f9d342;
  padding-bottom: 3rem;
}
.hero-image {
  width: 40%;
  height: 90%;
  margin: auto 0;
  object-position: 50% 50%;
  object-fit: cover;
  border-radius: 10%;
}
.hero-infoContainer h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-family: "Sacramento", cursive !important;
  font-weight: normal;
}
.hero-imageContainer h1 span {
  font-size: 2rem !important;
}
.hero-infoContainer h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-family: "Sacramento", cursive !important;
  font-weight: normal;
}
.links {
  display: flex;
  align-items: center;
}
.link {
  margin-right: 2rem;
}
.link i {
  font-size: 1.7rem;
  color: #f9d342;
}

@media screen and (max-width: 820px) {
  html {
    font-size: 13px;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .hero-image {
    width: 90%;
    height: 70%;
    margin-bottom: 1rem;
  }
  .links {
    justify-content: center;
  }
  .link {
    margin: 0 1rem;
  }
}
